.main4
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    min-height: 100vh;

}
.main4 .title4
{
    font-family: "Papyrus";
    color: black;
    margin-bottom: 0px;
}
.main4 .label4
{
    font-family: "Papyrus";
    width: 85%;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
}
.main4 input[type="text"]
{
    width: 80%;
    height: 30px;
    overflow-y: scroll;
}
.main4 input[type="file"]
{
    color: transparent;
    margin-bottom: 10px;
    width: 80%;
}
.main4 .sub_btn
{
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}
.main4 .sub_btn:hover
{
    color: rgb(128,128,255);
    background-color: white;
}
.main4 .preview-img
{
    width: 300px;
}
.main4 .buttons
{
    display: flex;
    flex-direction: row;
    gap: 30px;
}